<%- include("../partials/header") %>
<style>
	.forms{
		width:30%;
		margin:30px auto;		
	}
</style>
<div class="container text-center">
	<h1>Edit Comment</h1>
	<div class="forms">
	<div class="row">
		<form action="/campground/<%= campers%>/comments/<%=foundcomment._id%>?_method=PUT" method="post">
			<div class="form-group">
			<input class="form-control" type="text" name="comment[text]" placeholder="text" value="<%=foundcomment.text%>">			
			</div>
			
			<div class="form-group">
			<button class="btn btn-primary btb-lg btn-block">
			Update
			</button>
			</div>
			<div class="form-group">
			<a class="btn btb-lg btn-block" href="/campground/<%=campers%>">
			Go Back
			</a>
			</div>
		</form>	
	</div>	
	</div>
	
</div>

<%- include("../partials/footer") %>